
*
{
    background-image:url('Smiley\ Design.png') ;
    
}

.Headings

{
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    background: none;

}

.items
{

  
    margin-top: 100px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;


}

#hoodies
{
    float: left;
    padding-left: 150px;
    background: none;
}
#T-shirt
{
    position: absolute;
    top: 160px;
    right:650px;
background: none;
}
#Sweaters
{
    position: absolute;
    top: 160px;
    right:250px;
background: none;
}
.items :hover
{
color:blue;

}
#hoodiePic
{

    position: absolute;
    top: 250px;
    left: 50px;
    padding: 0;
    background: none;

}
#T-shirtPic
{

    position: absolute;
    top: 250px;
    right:550px;
   padding: 0;
    background: none;

}

#SweaterPic
{

 
    position: absolute;
    top: 246px;
    right: 150px;
    background: none;

}
p
{

    font-style: italic;
    color:rgba(255, 255, 255, 0.692);
    font-size: small;
    padding: 10px 10px;
    background: none;

}

