*
{
    background-color: black;
}
#PageHead
{
color: white;
text-align: center;
margin-top: 60px;
font-size: 25px;
font-family:Georgia, 'Times New Roman', Times, serif;

}


.Pics
{
    position: absolute;
    left: 0;
    margin-top: 100px;
}
.PicStyle
{
    display: flex;

}
.colours
{
    float: right;
    margin-right: 250px;
    margin-top: 120px;

}
#red
{
   
    width: 15px;         /* Sets the width of the button */
    height: 15px; 
    background-color: red;
    border-radius: 10px;
}
#white
{
   
    width: 15px;         /* Sets the width of the button */
    height: 15px; 
    background-color:white;
    border-radius: 10px;
}
#black
{
   
    width: 15px;         /* Sets the width of the button */
    height: 15px; 
    background-color:black;
    border-radius: 10px;
}
#purple
{
   
    width: 15px;         /* Sets the width of the button */
    height: 15px; 
    background-color:purple;
    border-radius: 10px;
}
#grey
{
   
    width: 15px;         /* Sets the width of the button */
    height: 15px; 
    background-color: grey;
    border-radius: 10px;
}
#blue
{
   
    width: 15px;         /* Sets the width of the button */
    height: 15px; 
    background-color:blue;
    border-radius: 10px;
}
#Colour-p
{
  position: absolute;
  top: 20%;
  right: 18%;
  color: white;

}
#Sizes
{
  position: absolute;
  top: 40%;
  right: 23%;
  color: white;

}
#Price
{
  position: absolute;
  top: 65%;
  right: 22%;
  color: white;
  

}
#was
{
    text-decoration: line-through;
}
#Prices
{
    position: absolute;
    top: 75%;
    right: 18%;
    font-size: 18px;
    color: white;
   text-align: center;

}
#fire
{
    background-color: white;
    padding-left: 10px;
}
#buttonCart
{

    background-color: white;
    width: 315px;
    height: 60px;
    border: 1px solid black;
    position: absolute;
    top: 90%;
    right: 12%;
    
}
#buttonCart:hover
{
    background-color: blue;
}


#Download
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    padding:0;
}
#tec
{
    font-size: 13px;
}
.size
{

    position: absolute;
    top: 55%;
    right: 20%;

}
#small
{
   
    width: 30px;         /* Sets the width of the button */
    height: 30px; 
    background-color:white;
    color: black;
    border-radius: 10px;
}
#medium
{
   
    width: 30px;         /* Sets the width of the button */
    height: 30px; 
    background-color:white;
    color: black;
    border-radius: 10px;
}
#large
{
   
    width: 30px;         /* Sets the width of the button */
    height: 30px; 
    background-color:white;
    color: black;
    border-radius: 10px;
}
#xlarge
{
   
    width: 30px;         /* Sets the width of the button */
    height: 30px; 
    background-color:white;
    color: black;
    border-radius: 10px;
}
